{% extends 'layout/default.twig' %}

{% block isi %}
    <div class='alert alert-success'>{{ soal.soal1 }}</div>
    {% for x in data %}
        <p><strong>{{ x.nama }} &bull; {{ x.kelas }}</strong></p>
        <p class="caption">{{ x.jawaban1 }}</p>
        <p><input type="text" class="form-control" value="{{ x.nilai1 }}"></p>
    {% endfor %}
    <br>
    <div class='alert alert-success'>{{ soal.soal2 }}</div>
    {% for x in data %}
        <p><strong>{{ x.nama }} &bull; {{ x.kelas }}</strong></p>
        <p class="caption">{{ x.jawaban2 }}</p>
        <p><input type="text" class="form-control" value="{{ x.nilai2 }}"></p>
    {% endfor %}
    <br>
    <div class='alert alert-success'>{{ soal.soal3 }}</div>
    {% for x in data %}
        <p><strong>{{ x.nama }} &bull; {{ x.kelas }}</strong></p>
        <p class="caption">{{ x.jawaban3 }}</p>
        <p><input type="text" class="form-control" value="{{ x.nilai3 }}"></p>
    {% endfor %}
    <br>
    <div class='alert alert-success'>{{ soal.soal4 }}</div>
    {% for x in data %}
        <p><strong>{{ x.nama }} &bull; {{ x.kelas }}</strong></p>
        <p class="caption">{{ x.jawaban4 }}</p>
        <p><input type="text" class="form-control" value="{{ x.nilai4 }}"></p>
    {% endfor %}
    <br>
    <div class='alert alert-success'>{{ soal.soal5 }}</div>
    {% for x in data %}
        <p><strong>{{ x.nama }} &bull; {{ x.kelas }}</strong></p>
        <p class="caption">{{ x.jawaban5 }}</p>
        <p><input type="text" class="form-control" value="{{ x.nilai5 }}"></p>
    {% endfor %}
{% endblock %}

{% block skrip %}
    <script>
      nilai = function(){
        list = ''
        $('input.form-control').each(function(){
          list += $(this).val() + '_'
        })
        nama = ''
        {% for x in data %}
            nama += '{{ x.nama }}_'
        {% endfor %}
        $('.selesai').attr('href', '{{ base_url() }}nilai/' + list + '/' + nama)
      };
      nilai()
      $('input.form-control').on('keyup', function(){
        nilai()
      });
    </script>
{% endblock %}

{% block head %}
    <style>
      body {
        margin-bottom: 50px;
      }
    </style>
{% endblock %}

{% block bawah %}
    <div class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td><a href="#!" class="btn btn-success selesai">Selesai</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}