{% extends 'layout/default.twig' %}

{% block isi %}

    <p><strong>Edit Soal</strong></p>

    <form action="" method="post">
    	<div class="form-group">
    		<input type="text" class="form-control" value="{{ data.soal1 }}" name="soal1">
        </div>
    	<div class="form-group">
    		<input type="text" class="form-control" value="{{ data.soal2 }}" name="soal2">
        </div>
    	<div class="form-group">
    		<input type="text" class="form-control" value="{{ data.soal3 }}" name="soal3">
        </div>
    	<div class="form-group">
    		<input type="text" class="form-control" value="{{ data.soal4 }}" name="soal4">
        </div>
    	<div class="form-group">
    		<input type="text" class="form-control" value="{{ data.soal5 }}" name="soal5">
        </div>
    	<div class="form-group">
			<input type="submit" value="Simpan" class="btn btn-success">
            <a href="{{ base_url() }}berjuanglahtsubasa" class="btn btn-default">Kasih Nilai</a>
            <a href="{{ base_url() }}tampil-selesai" class="btn btn-default">Nilai Akhir</a>
    	</div>
    </form>
{% endblock %}
